<form action="{% url 'core:Stow' %}" class="ajax-single-form" method="post" submit_button_class="submit-button" success_redirect="" paste_content_success="" id="stow-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="field-group rounded">
    <label class="rounded">&nbsp;{{ field.label }}</label> {{ field }}
    {{ field.errors }}
    {% if field.help_text %}
        <span class="helptext">&nbsp;{{ field.help_text }}  </span>
    {% endif %}
    </div>             
{% endfor %}
<hr>
</form>