
{% load static %}
{% load rest_framework %}

<div class="row">
    <div class="col-12 col-md-6" id="form">
        <div class="sub-subsection-item header">
            <h5><i class="fas fa-arrow-down"></i> Stow to location</h5>
        </div>
        <hr>
        <div class="sub-subsection-item content">
            <form action="{% url 'core:StowCreateForm' %}" class="ajax-single-form" method="post" submit_button_class="submit-button" id="stow-form">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "container_item_fk" %}
                        <div class="field-group rounded">
                            <div class="autocomplete" id="get-container-items" url="{% url 'stock:GetContainerItems' %}" target_form="#stow-form" target_field="#id_container_item_fk" target_log="#log-window">
                                <label class="rounded">&nbsp;{{ field.label }}</label> 
                                <div class="noselect">{{ field }}</div>
                                <input type="text" id="name" class="bg-light form-control" placeholder="Search for item..."></input>
                                {{ field.errors }}
                            </div>
                        </div>
                    {% elif field.name == "item_fk" %}
                        <div class="field-group rounded">
                            <div class="autocomplete" id="get-items" url="{% url 'stock:GetItems' %}" target_form="#stow-form" target_field="#id_item_fk" target_log="#log-window">
                                <label class="rounded">&nbsp;{{ field.label }}</label> 
                                <div class="noselect">{{ field }}</div>
                                <input type="text" id="name" class="bg-light form-control" placeholder="Search for item..."></input>
                                {{ field.errors }}
                            </div>
                        </div>
                    
                    {% else %}
                    <div class="field-group rounded">
                        <label class="rounded">&nbsp;{{ field.label }}</label> {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                            <span class="helptext">&nbsp;{{ field.help_text }}  </span>
                        {% endif %}
                    </div>             
                    {% endif %}
                {% endfor %}
            <hr>
            </form>
            <div class="mt-4 mb-4">
                <a value="Proceed" class="btn btn-sm btn-primary submit-button" form="stow-form">&nbsp;Proceed</a>             
            </div>

        </div>
    </div>

    <div class="col-12 col-md-6" id="locations">
        <div class="sub-subsection-item header">
            <h5><i class="fas fa-map-marker"></i> Locations</h5>
        </div>
        <hr>
        <div class="sub-subsection-item content"></div>
    </div>
</div>

<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script src="{% static 'js/csrf.js' %}"></script>
<script>
    $(".ajax-single-form").DjangoSingleAjaxForm({}) 
</script>
<script>
    function ajax_load_locations(th, thi, label, value){
        console.log("Select function load_locations starting...")
        $("div#locations div.sub-subsection-item.content").LoadRemoteContent({
            url:"{% url 'stock:GetItemLocations' %}?id="+value+"&name="+label
        })
    }
    function action1(th, thi, label, value){
        console.log("Select function action1 starting...")
        console.log(th)
        console.log(thi)
        console.log(label)
        console.log(value)
    }
    $(".autocomplete#get-container-items").AutocompleteField({
        select_function: "ajax_load_locations"
    })
    $(".autocomplete#get-items").AutocompleteField({
        select_function: "ajax_load_locations"
    })
</script>
