{% extends 'core/base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Stow{% endblock %}

{% block content %}
    <!-- CONTENT -->
        <div class="row subsection">
            <div class="col-12">
                <div class="subsection-item header">
                    <h1><i class="fas fa-arrow-down"></i> Stow</h1>
                </div>
                <hr>
                <div class="subsection-item content">
                    <!-- FORM -->
                        <div id="stow_form" class="forms" target_log="#log-window"></div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="sub-subsection-item header">
                                        <h5><i class="fas fa-terminal"></i> Logs</h5>
                                    </div>
                                    <hr>
                                <div class="sub-subsection-item content">
                                    <div id="log-window"></div>  
                                </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="row subsection">
                <div class="col-12">   
                </div>
            </div>           
        </div>
        <!-- SCRIPTS -->
            <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
            <script src="{% static 'js/jquery-ui.js' %}"></script>
            <script src="{% static 'js/ajax.js' %}"></script>
            <script src="{% static 'js/csrf.js' %}"></script>
            <script>
                $("#stow_form").LoadRemoteContent({
                    url:"{% url 'core:StowCreateForm' %}"
                })
                
            </script>
{% endblock content %}